@value white, formboxShodow,buttonGrey from '../../../common/colors.css';

.mbtiSet {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    list-style: none;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    background: white;
    height: 250px;
    width: 100%;
    padding: 0;
    box-shadow: formboxShodow;
    animation: fadeIn 0.6s;
}

@keyframes fadeIn {
    0% {
        transform: translate3d(0, 100%, 0);
    }
    to {
        transform: translateZ(0);
    }
}
.mbtiItem {
    padding: 10px;
    cursor: pointer;
    box-shadow: formboxShodow;
    margin: 5px;
    margin-top: 13px;
    border-radius: 5px;
}
.mbtiItem:hover {
    background: buttonGrey;
}
