@value buttonGrey,formboxShodow,white,pink from "../../common/colors.css";
@value bottomMargin, leftspace,radiusBigBtn, radiusMiniBtn from "../../common/size.css";

.resultBox {
    display: flex;
    flex-direction: column;
}

.scoreSection,
.result {
    background: white;
    box-shadow: formboxShodow;
    height: 100%;
    width: 310px;
    margin: auto;
    border-radius: radiusBigBtn;
    margin-top: bottomMargin;
    padding: 20px;
}

.title {
    margin-top: bottomMargin;
    font-weight: bold;
}
.score {
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0 20px;
}
.heartIcon {
    font-size: 20px;
    margin-bottom: 15px;
}

.scoreBox {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 30px;
    font-size: 13px;
}

.scoreBox img {
    width: 55px;
    height: 55px;
    margin-bottom: 10px;
}
.heartIcon {
    color: #f95e5e;
}
.circle {
    width: 15px;
    height: 15px;
    border: 1px solid;
    background: white;
    border-radius: 50%;
}

.progress {
    width: 90%;
    text-align: center;
    background: none;
}
.progress::-webkit-progress-bar {
    background: buttonGrey;
    border-radius: radiusMiniBtn;
}
.progress::-webkit-progress-value {
    background: pink;
    border-radius: radiusMiniBtn;
}

.resultContents {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
}
.retry,
.share {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonBox {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
