.app {
    background-image: url("./images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 375px;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
