.app {
    background-image: url("./images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    width: 410px;
    max-width: 410px;
    min-height: 100vh;
    margin: auto;
    position: relative;
    overflow: hidden;
}
